footer {
	background: var(--navbarFooterBackground);
	position: fixed;
	width: 100%;
	bottom: 0;
}

.links {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 10px 0;
	padding: 0 50px;
}

.footer-social-link,
.footer-link {
	color: #fff;
	padding: 0 20px;
	font-size: 1.2em;
}

.footer-link {
	display: block;
	padding: 10px 0;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 10px;
	font-weight: bolder;
}

.copyright {
	text-align: center;
	margin: 20px 0;
	color: #fff;
	font-weight: bolder;
}

@media (min-width: 992px) {
	.links {
		width: 50%;
		margin-top: 20px;
	}
	.footer-link {
		display: inline-block;
	}

	.footer-social-link {
		font-size: 1.5em;
	}
}
