/* Styling the image logo */

.logo {
	height: 80px;
	max-width: 300px;
	user-select: none;
}

/* Styling the menu button */

.ham-menu-container {
	user-select: none;
	position: relative;
	display: flex;
	height: 80px;
	width: 80px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	justify-content: center;
	align-items: center;
}

.ham-menu {
	width: 50px;
	height: 6px;
	background-color: var(--dark);
	transition: all 0.5s ease-in-out;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.ham-menu::before,
.ham-menu::after {
	content: '';
	position: absolute;
	width: 50px;
	height: 6px;
	background-color: var(--dark);
	transition: all 0.5s ease-in-out;
	border-radius: 5px;
	box-shadow: 0 2px 7px rgba(255, 255, 255, 0.5);
}

.ham-menu::before {
	transform: translateY(-16px);
}

.ham-menu::after {
	transform: translateY(16px);
}

.ham-menu.active,
.ham-menu.active::before,
.ham-menu.active::after {
	background-color: var(--light);
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

/* Styling the menu button animation */

.ham-menu-container.open .ham-menu {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}

.ham-menu-container.open .ham-menu::before {
	transform: rotate(45deg) translate(35px, -35px);
}

.ham-menu-container.open .ham-menu::after {
	transform: rotate(-45deg) translate(35px, 35px);
}

/* Styling the header element */

.navigation {
	position: fixed;
	display: flex;
	top: 0;
	justify-content: space-between;
	height: 80px;
	width: 100%;
	background-color: var(--light);
	color: var(--dark);
}

.navigation.active {
	background-color: var(--dark);
	color: var(--light);
}

/* Styling the navbar when menu closed */

.navbar {
	user-select: none;
	position: absolute;
	width: 100%;
	top: 100%;
	background-color: var(--light);
	color: var(--dark);
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 300ms ease-in-out;
}

/* Styling the navbar  */

.ham-menu-container.open + .navbar {
	transform: scale(1, 1);
}

.navbar.scrolled {
	background-color: var(--dark);
	color: var(--light);
}

/* Style the link list */

.link-list {
	opacity: 0;
	transition: opacity 150ms ease-in-out;
	list-style: none;
}

.link-list.active {
	opacity: 1;
	transition: opacity 250ms ease-in-out 200ms;
}

/* Stylings for bigger dispalys */

@media (min-width: 1000px) {
	/* Hiding the hamburger menu */

	.ham-menu-container {
		display: none;
	}

	/* Displaying the navbar */

	.navbar {
		display: flex;
		transform: scale(1, 1);
		position: relative;
		top: 0;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	/* Displaying the link list in the navbar */

	.link-list {
		opacity: 1;
		display: flex;
	}
}
