header {
	background-color: var(--mainBackground);
	text-align: center;
	top: 0;
	position: fixed;
	z-index: 100;
	width: 100%;
}

.logo {
	text-decoration: none;
	color: #fff;
}

nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	background-color: var(--mainBackground);
	width: 100%;
	max-height: 330px;
	overflow-y: auto;
	transform: scale(1, 0);
	transition: transform 500ms ease-in-out 350ms;
	transform-origin: top;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li,
nav .sublinks {
	margin-top: 0.9em;
	margin-bottom: 0.9em;
	margin-left: 1em;
}

nav .nav-link {
	color: #fff;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: bold;
	opacity: 0;
	transition: opacity 650ms ease-in-out;
}

nav .nav-link:hover {
	color: #ccc;
}

nav .desktop-link,
nav .sublinks,
input[type='checkbox'] {
	display: none;
}

.toggle-nav-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;
}

.toggle-nav-label .hamburger-icon,
.toggle-nav-label .hamburger-icon::before,
.toggle-nav-label .hamburger-icon::after {
	display: block;
	background-color: #fff;
	height: 5px;
	width: 2em;
	border-radius: 2px;
	position: relative;
}

.toggle-nav-label .hamburger-icon::before,
.toggle-nav-label .hamburger-icon::after {
	content: '';
	position: absolute;
}

.toggle-nav-label .hamburger-icon::before {
	bottom: 10px;
}

.toggle-nav-label .hamburger-icon::after {
	top: 10px;
}

.toggle-navbar:checked ~ nav {
	transform: scale(1, 1);
}

.toggle-navbar:checked ~ nav .nav-link {
	opacity: 1;
	transition: opacity 650ms ease-in-out 550ms;
}

.toggle-navbar:checked + .toggle-nav-label .hamburger-icon {
	animation: moveLeft 1s;
	opacity: 0;
}

.toggle-navbar:checked + .toggle-nav-label .hamburger-icon::before,
.toggle-navbar:checked + .toggle-nav-label .hamburger-icon::after {
	animation: moveRight 1s;
	opacity: 0;
}

@keyframes moveRight {
	0% {
		opacity: 1;
		display: block;
	}
	5% {
		right: -10px;
	}
	50% {
		opacity: 0;
		right: 60px;
	}
}

@keyframes moveLeft {
	0% {
		opacity: 1;
		display: block;
	}
	5% {
		left: -5px;
	}
	50% {
		opacity: 0;
		left: 40px;
	}
}

.toggle-nav-label .close-nav-icon,
.toggle-nav-label .close-nav-icon::before {
	opacity: 0;
	background-color: #fff;
	height: 5px;
	width: 2em;
	border-radius: 2px;
	position: absolute;
}

.toggle-nav-label .close-nav-icon::before {
	content: '';
}

.toggle-nav-label .close-nav-icon {
	transform: rotateZ(-45deg);
}

.toggle-nav-label .close-nav-icon:before {
	transform: rotateZ(90deg);
	right: 0px;
	top: 0px;
}

.toggle-navbar:checked + .toggle-nav-label .close-nav-icon {
	top: 50%;
	animation: moveFirstToBottom;
	animation-duration: 1s;
	opacity: 1;
}

.toggle-navbar:checked ~ .toggle-nav-label .close-nav-icon:before {
	animation: moveSecondToBottom;
	animation-duration: 2s;
	opacity: 1;
}

@keyframes moveFirstToBottom {
	0%,
	10% {
		opacity: 0;
		top: 0;
		left: 3em;
	}
	70%,
	100% {
		left: 0;
		top: 50%;
		opacity: 1;
	}
}

@keyframes moveSecondToBottom {
	0%,
	20% {
		top: -3em;
		opacity: 0;
	}
	50%,
	100% {
		top: 0;
		opacity: 1;
	}
}

.toggle-navbar:not(:checked) + .toggle-nav-label .close-nav-icon:before {
	animation: moveFirstToTop 1s;
	opacity: 0;
}

.toggle-navbar:not(:checked) + .toggle-nav-label .close-nav-icon {
	animation: moveSecondToTop 2s;
	opacity: 0;
}

@keyframes moveFirstToTop {
	0%,
	10% {
		top: 0;
		opacity: 1;
	}
	40%,
	100% {
		top: -3em;
		opacity: 0;
	}
}

@keyframes moveSecondToTop {
	0%,
	20% {
		top: 50%;
		left: 0;
		opacity: 1;
	}
	40%,
	100% {
		top: 0;
		left: 3em;
		opacity: 0;
	}
}

.toggle-navbar:not(:checked) + .toggle-nav-label .hamburger-icon {
	animation: moveBackRight 1.5s;
	opacity: 1;
}

.toggle-navbar:not(:checked) + .toggle-nav-label .hamburger-icon::before,
.toggle-navbar:not(:checked) + .toggle-nav-label .hamburger-icon::after {
	animation: moveBackLeft 1.5s;
	opacity: 1;
}

@keyframes moveBackLeft {
	0%,
	30% {
		right: 60px;
		opacity: 0;
	}
	70% {
		right: -10px;
		opacity: 1;
	}
	80%,
	100% {
		right: 0;
		opacity: 1;
	}
}

@keyframes moveBackRight {
	0%,
	30% {
		left: 40px;
		opacity: 0;
	}
	70% {
		left: -5px;
		opacity: 1;
	}
	80%,
	100% {
		left: 0;
		opacity: 1;
	}
}

.sublinks-toggle:checked + .sublinks {
	display: block;
}

@media (min-width: 992px) {
	.toggle-nav-label {
		display: none;
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
	}

	.logo {
		grid-column: 2 / 3;
	}

	nav {
		all: unset;
		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end;
	}

	nav label {
		display: none;
	}

	nav ul {
		text-align: right;
	}

	nav ul li {
		display: inline-block;
		margin-top: 1em;
	}

	nav .nav-link {
		opacity: 1;
		margin-left: 1em;
		padding: 0.75em 0;
		position: relative;
	}

	nav .desktop-link {
		display: block;
	}

	nav .nav-link::before {
		content: '';
		display: block;
		height: 5px;
		background: #fff;
		position: absolute;
		bottom: -0.1em;
		left: 0;
		right: 0;
		transform: scale(0, 1);
		transition: transform ease-in-out 250ms;
	}

	nav .nav-link:hover::before {
		transform: scale(1, 1);
	}

	nav ul .sublinks {
		display: block;
		position: absolute;
		top: 100%;
		border-top: 5px solid #fff;
		background-color: var(--mainBackground);
		opacity: 0;
		visibility: hidden;
		transition: top 0.3s ease-in-out, opacity 600ms ease-in-out;
	}

	nav ul li:hover > .sublinks {
		top: 60%;
		opacity: 1;
		visibility: visible;
	}

	nav ul .sublinks li {
		position: relative;
		text-align: left;
		margin: 0;
		padding: 1em 1em 1.5em;
		display: list-item;
	}
}
