.list-item {
	clear: both;
	width: 100%;
	text-align: center;
}

.list-item label {
	color: #000;
	width: 100%;
	display: inline-block;
	padding: 1em 0;
	transition: all 100ms ease-in-out;
}

.yt-app,
.landing,
.ecomerce {
	display: none;
	transition: all 500ms ease-in-out;
}

.arrow,
.arrow::before {
	display: inline-block;
	background-color: #000;
	height: 0.2em;
	width: 1em;
	border-radius: 5px;
	position: relative;
	transform: rotateZ(-50deg);
}

.arrow::before {
	content: '';
	position: absolute;
	transform: rotateZ(-75deg);
	top: -0.45em;
	right: 0.34em;
}

#one:checked ~ .yt-app,
#two:checked ~ .landing,
#three:checked ~ .ecomerce {
	display: block;
}

#one:checked + label,
#two:checked + label,
#three:checked + label {
	box-shadow: inset 0 20em 0 0 var(--scrollbarBackground);
	color: #fff;
}

#one:checked ~ label .arrow,
#one:checked ~ label .arrow::before,
#two:checked ~ label .arrow,
#two:checked ~ label .arrow::before,
#three:checked ~ label .arrow,
#three:checked ~ label .arrow::before {
	background-color: #fff;
}

#one:checked ~ label .arrow,
#two:checked ~ label .arrow,
#three:checked ~ label .arrow {
	transform: rotateZ(128deg);
}
