/* Styling the sublink label. */

.navbar-label {
	font-family: 'Patua One', cursive;
	display: inline-block;
	font-size: 20px;
	width: 100%;
	padding: 7px 10px;
	user-select: none;
}

/* Styling the dropdown icon. */

.dropdown-icon {
	display: inline-block;
	font-weight: bolder;
	transition: all 0.2s ease-in-out;
}

.dropdown-icon.active {
	transform: rotateZ(45deg);
}

/* Styling the sublink list. */

.navbar-sublink-container {
	padding: 0 20px;
	list-style: none;
	display: none;
}

.navbar-sublink-container.active {
	display: block;
}

/* Styling the sublinks for larger displays */

@media (min-width: 1000px) {
	/* Changing the sublink list depending on how far the user has scrolled */

	.navbar-sublink-container {
		background-color: transparent;
		padding: 10px 20px;
		color: var(--light);
		display: block;
		width: 260px;
		transform: scale(1, 0);
		transform-origin: top;
		position: absolute;
		top: 100%;
		border-top: 1px solid rgb(223, 223, 223);
		border-bottom: 1px solid rgb(223, 223, 223);
		transition: transform 250ms ease-in-out;
	}

	.navbar-sublink-container.active {
		transform: scale(1, 1);
	}

	.navbar-sublink-container.scrolled {
		background-color: var(--dark);
	}

	/* Styling the sublinks */

	.navbar-link-container.sublink {
		opacity: 0;
		transition: opacity 100ms ease-in-out;
	}

	.navbar-sublink-container.active > .navbar-link-container.sublink {
		opacity: 1;
		transition: opacity 250ms ease-in-out 200ms;
	}

	/* Adding the underline on hover to the label */

	.navbar-label {
		position: relative;
	}

	.navbar-label::before,
	.navbar-label.active::before {
		content: '';
		display: block;
		height: 3px;
		background: var(--light);
		position: absolute;
		bottom: -0.2em;
		left: 0;
		right: 0;
		transform: scale(0, 1);
		transition: transform 250ms ease-in-out;
	}

	.navbar-label.active::before {
		background: var(--light);
	}

	.navbar-label:hover::before {
		transform: scale(1, 1);
	}
}
